@import "tailwindcss";

html,
body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

@theme inline {
  /* Definir los colores como el --color-secundary para poder usarlos de forma global, es decir, aplicarlo como color a cualquier propiedad */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secundary: #f5741c;
  --darkBg: #131424;
  --gradient-cover: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
}

@layer utilities {
  .bg-gradient-cover {
    background: var(--gradient-cover);
  }
}

.secundary {
  color: var(--secundary);
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --secundary: #f5741c;
  --darkBg: #131424;
  --gradient-cover: linear-gradient(
    90.21deg,
    rgba(70, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
} */
